<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UICTFontTextStyleTitle0</key>
	<dict>
		<key>fontSize</key>
		<integer>34</integer>
		<key>fontWeight</key>
		<string>Regular</string>
	</dict>
	<key>UICTFontTextStyleTitle1</key>
	<dict>
		<key>fontSize</key>
		<integer>28</integer>
		<key>fontWeight</key>
		<string>Regular</string>
	</dict>
	<key>UICTFontTextStyleTitle2</key>
	<dict>
		<key>fontSize</key>
		<integer>22</integer>
		<key>fontWeight</key>
		<string>Regular</string>
	</dict>
	<key>UICTFontTextStyleTitle3</key>
	<dict>
		<key>fontSize</key>
		<integer>18</integer>
		<key>fontWeight</key>
		<string>Medium</string>
	</dict>
	<key>UICTFontTextStyleHeadline</key>
	<dict>
		<key>fontSize</key>
		<integer>24</integer>
		<key>fontWeight</key>
		<string>Bold</string>
	</dict>
	<key>UICTFontTextStyleSubhead</key>
	<dict>
		<key>fontSize</key>
		<integer>20</integer>
		<key>fontWeight</key>
		<string>Medium</string>
	</dict>
	<key>UICTFontTextStyleBody</key>
	<dict>
		<key>fontSize</key>
		<integer>20</integer>
		<key>fontWeight</key>
		<string>Regular</string>
	</dict>
	<key>UICTFontTextStyleCallout</key>
	<dict>
		<key>fontSize</key>
		<integer>16</integer>
		<key>fontWeight</key>
		<string>Regular</string>
	</dict>
	<key>UICTFontTextStyleFootnote</key>
	<dict>
		<key>fontSize</key>
		<integer>14</integer>
		<key>fontWeight</key>
		<string>Medium</string>
	</dict>
	<key>UICTFontTextStyleCaption1</key>
	<dict>
		<key>fontSize</key>
		<integer>16</integer>
		<key>fontWeight</key>
		<string>Regular</string>
	</dict>
	<key>UICTFontTextStyleCaption2</key>
	<dict>
		<key>fontSize</key>
		<integer>11</integer>
		<key>fontWeight</key>
		<string>Regular</string>
	</dict>
</dict>
</plist>
