<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<dict>
		<key>value</key>
		<string>Favorites</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>Remove</key>
	<dict>
		<key>value</key>
		<string>Remove</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>Error Message</key>
	<dict>
		<key>value</key>
		<string>Well, this is embarrassing. It looks like something went wrong.

Tap here to try again.</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>Missing Favorites Message</key>
	<dict>
		<key>value</key>
		<string>You don&apos;t have any favorites. 

Tap the heart icon on any picture to add it here.</string>
		<key>comment</key>
		<string></string>
	</dict>
</dict>
</plist>
